@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("./img/bannerHeader.png");
    background-repeat: no-repeat;
    background-size: contain;

    .box-header {
        margin-top: 30px;
        width: 80%;
        height: 10vh;
        border-radius: 50px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: linear-gradient(to right, #4247A2 0%, #52B095 100%);

        nav {
            width: 40%;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            a {
                color: #fff;
                font-family: "Roboto", sans-serif;
            }
        }
    }
}

.box-banner {
    width: 80vw;
    height: 80vw;
    display: flex;
    align-items: center;

    .box-titulo {
        height: 60vh;
        width: 50%;

        h2 {
            font-size: 3rem;
            background: linear-gradient(to right, #4247A2 0%, #52B095 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            font-weight: bold;

        }

        .div-p {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 1.5rem;
            width: 70%;
        }

        div {
            font-family: "Inter", sans-serif;
            display: flex;
            flex-direction: row;
            align-content: space-between;
            gap: 10px;
            height: 30%;
            width: 70%;

            .bt-azul {
                background-color: #1173D4;
                color: #FFFFFF;
                font-weight: 500;
                border-radius: 10px;
                height: 35%;
                width: 70%;
                border: none;
            }

            .bt-transparente {
                background-color: #F9FAFB;
                color: #1173D4;
                font-weight: 500;
                border-radius: 10px;
                height: 35%;
                width: 50%;
                border: solid 1px #1173D4;
            }
        }
    }
}

.section-exame {
    background-color: #F8F9FA;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 40px;

    h2 {
        color: #1F2937;
        font-size: 2.70rem;
        font-weight: bold;
        width: 80%;
        background: linear-gradient(to right, #1173D4 0%, #33CC73 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-weight: bold;
    }

    h3 {
        font-size: 1.50rem;
        font-weight: normal;
        width: 80%;
        color: #04031C;
        margin: 40px;

    }

    section {
        display: flex;
        justify-content: space-evenly;
        height: 50vh;
        width: 100%;

        article {

            box-shadow: 0px 0px 10px 5px #cccccc;
            border-radius: 10px;
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding-bottom: 2rem;
            text-align: center;
            height: 80%;

            img {
                margin-top: 10px;
                height: 7vh;
                width: 20%;
            }

            h3 {
                color: #04031C;
                font-weight: 600;
                font-size: 1.4rem;
            }

            p {
                width: 80%;
                color: #04031C;
                font-weight: 400;
                font-size: 1rem;
            }
        }
    }
}

.section-pf {

    background-color: #FDEFEF;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 40px;

    h2 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 2.70rem;
        background: linear-gradient(to right, #F9016F8A 0%, #9308859E, #D038AAC0, #851C87 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-weight: bold;
        margin: 4%;
    }

    section {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 100%;
        width: 80%;
        gap: 30px;

        article {
            background-color: #FEFEFE;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            box-shadow: 0px 4px 4px 0px #00000040;
            border-radius: 16px;
            width: 31%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            height: 400px;
            gap: 20px;

            img {
                border-radius: 50px;
                height: 100px;
                width: 100px;
                margin-top: 20px;
            }

            h3 {
                color: #000000;
                font-weight: 700;
            }

            ul {
                list-style-position: inside;
                padding-left: 10%;
                padding-right: 10px;
                text-align: left;

                li {
                    color: #000000;
                    font-size: 1rem;
                    margin-bottom: 10px;
                    $recuo: 1.5rem;
                    text-indent: -$recuo;
                    padding-left: $recuo;
                    text-align: initial;
                }
            }
        }
    }
}

.section-pm {
    background-color: #F8F9FA;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 40px;

    h2 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 2.70rem;
        background: linear-gradient(to right, #3373D2 0%, #6F95C7, #7BB5F5, #0074EE, #5EA7EF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-weight: bold;
        margin: 4%;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        width: 80%;
        gap: 30px;


        article {
            background-color: #FEFEFE;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            box-shadow: 0px 4px 4px 0px #00000040;
            border-radius: 16px;
            width: 31%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            height: 400px;
            gap: 20px;

            img {
                border-radius: 50px;
                height: 100px;
                width: 100px;
                margin-top: 20px;
            }

            h3 {
                color: #000000;
                font-weight: 700;
            }

            ul {

                list-style-position: inside;
                padding-left: 10%;
                padding-right: 10px;
                text-align: left;

                li {
                    color: #000000;
                    font-size: 1rem;
                    margin-bottom: 10px;
                    $recuo: 1.5rem;
                    text-indent: -$recuo;
                    padding-left: $recuo;
                    text-align: initial;
                }
            }
        }
    }
}

.section-alertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

    h2 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 2.70rem;
        background: linear-gradient(to right, #1173D4 0%, #33CC73 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-weight: bold;
        margin: 4%;
    }

    section {
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        width: 70%;
        gap: 30px;
        margin-bottom: 8%;

        .divRosa {
            p {
                font-weight: 400;
                color: #AD346A;
            }

            h3 {
                font-weight: 700;
                color: #AD346A;
            }

            background-color: #F9D5E5;
        }

        .divAzul {
            p {
                font-weight: 400;
                color: #2769A3;
            }

            h3 {
                font-weight: 700;
                color: #2769A3;
            }

            background-color: #CFE2F3;
        }

        .divVerde {
            p {
                font-weight: 400;
                color: #244A2D;
            }

            h3 {
                font-weight: 700;
                color: #244A2D;
            }

            background-color: #D4EDDA;
        }

        .divAmarelo {
            p {
                font-weight: 400;
                color: #976C00;
            }

            h3 {
                font-weight: 700;
                color: #976C00;
            }
            background-color: #FFE9C2;
        }

        div {
            width: 40%;
            height: 150px;
            border-radius: 10px;
            padding: 2%;

            article {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                gap: 5px;

                img {
                    height: 10%;
                    width: 10%;
                }
            }
        }
    }
}

.contato {
    background-color: #313461;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: auto;
    padding: 6%;
    border-bottom: solid 1px #9FABBC;

    article {
        width: 20rem;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        img {
            width: 12rem;
            height: 3rem;
            margin-left: 8%;
        }

        h3 {
            margin: 3%;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 18px;
        }

        p {
            color: #FFFFFF;
            margin: 3%;
            font-weight: 400;
            font-size: 16px;
        }
    }

}

footer {
    background-color: #313461;
    align-items: center;
    text-align: center;
    padding: 3%;

    p {
        font-family: "Poppins", sans-serif;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
    }
}
@media (min-width: 501px) and (max-width: 900px) {
    header {
        background-size: cover;
        height: 60vh;
    }
    .box-header {
        width: 100%;
    }
    .box-header nav {
        width: 60%;
    }
    .box-header nav a {
        font-size: 0.9rem;
    }
    .box-banner {
        width: 90vw;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .box-banner .box-titulo {
        width: 100%;
        height: auto;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .box-banner .box-titulo h2 {
        font-size: 3rem;
    }
    .box-banner .box-titulo .div-p {
        width: 100%;
        font-size: 1.1rem;
        text-align: center;
    }
    .box-banner .box-titulo div {
        width: 100%;
        height: auto;
        margin-top: 20px;
        justify-content: center;
    }
    .bt-azul,
    .bt-transparente {
        height: 60px !important;
        width: 150px !important;
    }
    .section-exame section {
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
        gap: 30px;
    }
    .section-exame section article {
        width: 45%;
        height: auto;
        margin-bottom: 0;
        padding-bottom: 1rem;
    }
    .section-pf section,
    .section-pm section {
        justify-content: space-around;
        gap: 20px;
    }
    .section-pf section article,
    .section-pm section article {
        width: 250px;
        height: auto;
        min-height: 350px;
    }
    .section-alertas section {
        width: 90%;
    }
    .section-alertas section div {
        width: 45%;
        height: 150px;
    }
    .section-alertas section div p {
        font-size: 12px;
    }
    .section-alertas section div article h3 {
        font-size: 13px;
    }
    .contato {
        flex-direction: column;
        align-items: center;
        padding: 5%;
        gap: 30px;
    }
    .contato article {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media (min-width: 201px) and (max-width: 500px) {
    header {
        background-size: cover;
        height: 80vh;
        .box-header {
            width: 90%;
            height: 10%;
            display: flex;
            flex-direction: row;
        }
        .box-header img {
            width: 30%;
            height: 40%;
        }
        .box-header nav {
            width: 60%;
            margin: 0;
        }
        .box-header nav a {
            font-size: 0.6rem;
        }
        .box-banner {
            width: 90vw;
            flex-direction: column;
            align-items: flex-start;
            height: auto;
        }
        .box-banner .box-titulo {
            width: 100%;
            height: auto;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .box-banner .box-titulo h2 {
            font-size: 3rem;
        }
        .box-banner .box-titulo .div-p {
            width: 100%;
            font-size: 1.1rem;
            text-align: center;
        }
        .box-banner .box-titulo div {
            width: 100%;
            height: auto;
            margin-top: 20px;
            justify-content: center;
        }
        .bt-azul,
        .bt-transparente {
            height: 50px !important;
            width: 45% !important;
        }
    }
    .section-exame h2 {
        font-size: 1.50rem;
    }
    .section-exame h3 {
        font-size: 1rem;
    }
    .section-exame section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: auto;
        gap: 30px;
    }
    .section-exame section article {
        width: 80%;
        /* Exibe dois artigos por linha (em vez de 25%) */
        height: auto;
        margin-bottom: 0;
        padding-bottom: 1rem;
    }
    .section-exame section article h3 {
       font-size: 18px;
    }
    .section-pf h2,
    .section-pm h2 {
    font-size: 1.8rem;
    }
    .section-pf section,
    .section-pm section {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }
    .section-pf section article,
    .section-pm section article {
        width: 90%;
        height: auto;
    }
    .section-pf section article ul li,
    .section-pm section article ul li {  
        font-size: 80%;
    }
    .section-alertas{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .section-alertas h2 {
        font-size: 1.8rem;
    }
    .section-alertas section {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-alertas section div {
        width: 85%;
        height: 150px;
    }
    .section-alertas section div p {
        font-size: 12px;
    }
    .section-alertas section div article h3 {
        font-size: 13px;
    }
    .contato {
        flex-direction: column;
        align-items: center;
        padding: 5%;
        gap: 30px;
    }
    .contato article {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}